<div class="block px-6">
    <form>
        <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="form-group">
                <label for="client_name" class="form-label inline-block mb-2 text-gray-700 select-none">Name</label>
                <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       id="client_name"
                       aria-describedby="client_nameHelp"
                       placeholder="Enter client's name">
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="form-group">
                <label for="client_country" class="form-label inline-block mb-2 text-gray-700 select-none">Country</label>
                <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       id="client_country"
                       placeholder="Country">
            </div>
            <div class="form-group">
                <label for="client_city" class="form-label inline-block mb-2 text-gray-700 select-none">City</label>
                <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       id="client_city"
                       placeholder="City">
            </div>
            <div class="form-group">
                <label for="client_postcode" class="form-label inline-block mb-2 text-gray-700 select-none">Post code</label>
                <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       id="client_postcode"
                       placeholder="Post code">
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="form-group">
                <label for="client_street" class="form-label inline-block mb-2 text-gray-700 select-none">Street</label>
                <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       id="client_street"
                       placeholder="Street">
            </div>
            <div class="form-group">
                <label for="client_street_number" class="form-label inline-block mb-2 text-gray-700 select-none">Street number</label>
                <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       id="client_street_number"
                       placeholder="Street number">
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="form-group">
                <label for="client_phone" class="form-label inline-block mb-2 text-gray-700 select-none">Phone</label>
                <input type="tel" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       id="client_phone"
                       placeholder="Phone">
            </div>
        </div>
    </form>
</div>