<div class="w-full md:w-1/5 bg-gray-900 md:bg-gray-900 px-2 text-center fixed bottom-0 md:pt-8 md:top-0 md:left-0 h-16 md:h-screen md:border-r-4 md:border-gray-600">
    <div class="md:relative mx-auto lg:float-right lg:px-6">
        <ul class="list-reset flex flex-row md:flex-col text-center md:text-left">
            <li class="mr-3 flex-1">
                <MenuItem Title="Home" Url="/"></MenuItem>
            </li>
            <li class="mr-3 flex-1">
                <MenuItem Title="Invoices" Url="/invoices"></MenuItem>
            </li>
            <li class="mr-3 flex-1">
                <MenuItem Title="Clients" Url="/clients"></MenuItem>
            </li>
            <li class="mr-3 flex-1">
                <MenuItem Title="Not Found page" Url="/im-not-here"></MenuItem>
            </li>
        </ul>
    </div>
</div>
