<div class="relative mx-auto lg:float-right lg:px-6">
    <ul class="list-reset flex flex-col text-left">
        <li class="mr-3 flex-1">
            <MenuItem Title="Home" Url="/index"></MenuItem>
        </li>
        <li class="mr-3 flex-1">
            <MenuItem Title="Invoices" Url="/invoices"></MenuItem>
        </li>
        <li class="mr-3 flex-1">
            <MenuItem Title="Clients" Url="/clients"></MenuItem>
        </li>
        <li class="mr-3 flex-1">
            <MenuItem Title="Not Found page" Url="/im-not-here"></MenuItem>
        </li>
    </ul>
</div>